* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 767.9px) {
  .desknav-bar {
    display: none;
  }
}

#wrap {
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3c3a39;
  width: 100%;
  height: 7.5%;
}

#logo {
  display: flex;
  align-items: center;
  padding: 3.13% 0.03%;
  position: absolute;
  left: 3.2%;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}

.nav-bar {
  position: absolute;
  right: 6.4%;
  height: 83.3%;
}

#nav-icon {
  display: flex;
  height: 100%;
}

.button {
  width: 40px;
  height: 100%;
  border-style: none;
  background-color: #3c3a39;
}

.button:hover {
  background-color: #fff5e1;
}

#container {
  display: flex;
  background-image: url(./bacground-icons/background-image.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  flex-direction: column;
  background-color: #1c1a19;
  width: 100%;
  height: 100%;
}

.section {
  height: 93.48%;
  position: absolute;
  top: 7.49%;
  width: 100%;
}

#box {
  display: flex;
  flex-direction: column;
  height: 59.3%;
  padding-top: 20.33%;
  padding-left: 6%;
  padding-right: 6%;
  gap: 2.03%;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#heading1 {
  display: flex;
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
}

#heading2 {
  display: flex;
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

#description {
  display: flex;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#social {
  display: flex;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.icons:hover {
  background-color: #fff5e1;
}

.works {
  background-color: #fff;
  width: 100%;
}

.frame {
  width: 100%;
  justify-content: center;
}

#heading {
  height: 107px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-top: 120px;
  margin-left: 6.4%;
  margin-right: 6.4%;
  text-align: center;
}

#yoga-img {
  width: 87.2%;
  margin-left: 6.4%;
  margin-right: 6.4%;
}

#heading3 {
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-top: 24px;
  margin-left: 6.4%;
  margin-right: 6.4%;
}

.framepara {
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 6.4%;
  margin-right: 6.4%;
}

#tagsul {
  display: flex;
  list-style: none;
  width: 297px;
  height: 40px;
  gap: 12px;
  align-items: center;
  margin-top: 12px;
  margin-left: 6.4%;
  margin-right: 6.4%;
}

.tags1 {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  box-sizing: border-box;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  align-items: center;
}

#project-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border-style: none;
  margin-top: 12px;
  margin-left: 6.4%;
}

.cards {
  display: grid;
  padding-top: 3.76%;
  margin-bottom: 120px;
  justify-content: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  background-image: url(./Work-section-img/backgroundli.png);
  height: 386px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 3.76%;
  width: 87.24%;
  margin-left: 6.4%;
  margin-right: 6.4%;
}

.cardhead {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  height: 81px;
  padding-top: 84px;
  padding-left: 16px;
  padding-right: 16px;
}

.cardpara {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  height: 87px;
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
}

.card-list {
  display: flex;
  gap: 20px;
  height: 40px;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 75px;
}

.cardhead1 {
  display: none;
}

.tags {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #8993a4;
  color: #fff;
  background-color: #ffffff1e;
}

.project-button {
  margin-top: 22px;
  height: 48px;
  width: 100%;
  border-style: none;
  background-color: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.about {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  color: #fff;
  width: 100%;
}

.about1 {
  background-image: url(./about-img/aboutbackgroud.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.abouthead {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  text-align: center;
  height: 12.38%;
  width: 87.2%;
  margin-left: 6.4%;
  margin-right: 6.4%;
  padding-top: 120px;
}

.aboutpara {
  width: 87.2%;
  height: 23.197%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 6.4%;
  margin-right: 6.4%;
  margin-top: 24px;
}

.aboutpara1 {
  display: none;
}

.aboutsocial {
  width: 87.2%;
  margin-left: 6.4%;
  margin-right: 6.4%;
  background-color: #1c1a19;
  margin-top: 128px;
}

.aboutbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background-color: #ff6b00;
  color: #fff;
  border-style: none;
  margin-top: 24px;
  margin-left: 6.4%;
  margin-right: 50.66%;
  margin-bottom: 209px;
}

.skills {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 131.54px;
}

.skillscontainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 19.93%;
  margin-right: 19.93%;
  color: #fff;
}

.skills-list {
  list-style: none;
}

.skills-items {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
}

.skills-head {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

.line {
  margin-left: 6.4%;
  margin-right: 6.4%;
}

#skills-head {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

#skillscontainer2 {
  margin-left: 11.2%;
  margin-right: 11.2%;
}

.contact {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.contact-grid {
  display: grid;
  grid-template-rows: 25.47vh 38.91vh;
  row-gap: 6.83vh;
  padding: 14.15vh 6.4% 14.622vh 6.4%;
  height: 71.228vh;
  width: 87.2%;
}

.contactpara {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  color: #172b4d;
  text-align: center;
}

.contactp {
  height: 100%;
}

.form1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 7.27%;
}

.name {
  height: 14.54%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name1 {
  width: 90.21%;
  height: 97.8%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border-style: none;
  padding-left: 7.3335%;
  color: #979493;
}

.blank1 {
  height: 2.08%;
  width: 100%;
  background-color: #dbd8d7;
  justify-self: flex-end;
}

.email {
  height: 14.54%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email1 {
  height: 97.8%;
  width: 90.21%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border-style: none;
  padding-left: 7.3335%;
  color: #979493;
}

.blank2 {
  height: 2.08%;
  width: 100%;
  background-color: #dbd8d7;
}

.text {
  height: 34.54%;
  background-color: #fbf8f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text1 {
  width: 94.6%;
  color: #3c3a39;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border-style: none;
  background-color: #fbf8f7;
  height: 92.662%;
}

.submit {
  height: 14.54%;
  width: 40.06%;
  margin-left: 29.96%;
  margin-right: 29.96%;
  background-color: #ff6b00;
  color: #fff;
  border-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
}

.submit:hover {
  color: #f55800;
  background-color: #fff5e1;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  box-sizing: border-box;
  border: #e05304;
  border-style: solid;
}

.submit:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.submit:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.footer-social {
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footericons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.footer {
  display: flex;
  height: 12.2%;
  width: 100%;
  flex-direction: column;
  padding-bottom: 10px;
}

.blank3 {
  background-color: #dfe1e6;
  height: 1.38%;
  width: 100%;
}

.blank4 {
  background-color: #0d151e;
  height: 6%;
  width: 35.73%;
  margin-left: 32.135%;
}

@media only screen and (min-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }

  .nav-bar {
    display: none;
  }

  .header {
    height: 8.27%;
    background-color: #3e3c3c;
    min-width: 1195px;
  }

  #logo {
    left: 10.2%;
  }

  .desknav-bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .desknav-bar1 {
    display: flex;
    width: 17.7%;
    height: 55.55%;
    align-items: center;
    gap: 3.13%;
    min-width: 204px;
  }

  .desknav {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    list-style: none;
    text-decoration-style: none;
    gap: 8px;
  }

  .desknav1 {
    width: 33%;
  }

  .desklink {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nav-button {
    margin-right: 9.86%;
    background-color: #3e3c3c;
    border-style: none;
    height: 55.55%;
    width: 2.77%;
    margin-left: 0.83%;
  }

  .section {
    height: 91.725%;
    top: 8.27%;
    min-width: 1195px;
  }

  #container {
    background-image: url(./desktopimg/backgrounds/background1.png);
    background-color: #1c1a19;
    background-position: top right;
    min-height: 798px;
    background-size: contain;
  }

  #box {
    position: absolute;
    padding-top: 0%;
    width: 39.305%;
    height: 739px;
    padding-left: 9.93%;
    justify-content: center;
    padding-bottom: 7.39%;
    gap: 3.007%;
  }

  #heading1 {
    height: 21.65%;
    width: 80%;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    min-width: 350px;
  }

  #heading2 {
    height: 3.27%;
    width: 100%;
    font-size: 32px;
    line-height: 44px;
  }

  #description {
    height: 16.644%;
    width: 100%;
    font-size: 19.6px;
    line-height: 32px;
  }

  #social {
    flex-direction: column;
    position: absolute;
    left: 2.5%;
    top: 30.34%;
  }

  .title {
    display: flex;
    width: 78.68%;
    padding-top: 135px;
    margin-left: 10.659%;
    margin-right: 10.659%;
    margin-bottom: 114px;
    align-items: center;
    justify-content: center;
    gap: 2.11%;
  }

  .empty {
    width: 70.09%;
    border: 1px solid #212121;
  }

  #heading {
    height: 100%;
    width: 27.53%;
    margin: 0;
    font-size: 39px;
    text-align: center;
  }

  .works {
    min-height: 1810px;
    min-width: 1195px;
  }

  .work-grid {
    width: 80.27%;
    margin-left: 9.86%;
    margin-bottom: 7.202%;
    height: 76.187vh;
    min-height: 1379px;
  }

  .desk-work {
    display: flex;
    width: 100%;
    height: 32.27%;
  }

  #yoga-img {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #yoga {
    width: 59.169%;
  }

  .desk-yoga {
    width: 40.831%;
    height: 100%;
    margin-left: 2.076%;
  }

  #heading3 {
    margin: 0;
    font-size: 40px;
    line-height: 52px;
    height: 13.793%;
    min-width: 321px;
  }

  .framepara {
    height: 35.229%;
    margin-top: 0.193%;
    margin-left: 0;
    margin-right: 0;
    font-size: 21.2px;
    line-height: 28px;
    padding-bottom: 7.193%;
    min-width: 368px;
  }

  #tags {
    height: 32.183%;
    width: 66.294%;
  }

  #tagsul {
    margin: 0;
    width: 100%;
    height: 35.714%;
  }

  .tags1 {
    width: 100%;
  }

  #project-button {
    margin: 7.834% 0 0 0;
  }

  .frame {
    height: 65.725%;
    padding-top: 2.077%;
    min-width: 900px;
  }

  .cards {
    padding: 0;
    grid-template-columns: 31.94% 31.94% 31.94%;
    grid-template-rows: 47.953% 47.953%;
    row-gap: 4.07%;
    column-gap: 2.07%;
    height: 100%;
    justify-content: normal;
    width: 100%;
    margin: 0;
    min-width: 900px;
  }

  .card {
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .card:hover {
    background: url(./desktopimg/backgrounds/card1.png);
  }

  .card:hover .hov1 {
    visibility: collapse;
  }

  .hov2 {
    display: none;
  }

  .card:hover .hov2 {
    display: flex;
  }

  .cardhead {
    display: none;
  }

  .card-list {
    padding-bottom: 10px;
  }

  #procard {
    justify-content: end;
  }

  #procard1 {
    background-image: url(./desktopimg/backgrounds/card2.png);
    justify-content: flex-end;
  }

  #procard2 {
    background-image: url(./desktopimg/backgrounds/card3.png);
    justify-content: flex-end;
  }

  #procard3 {
    background-image: url(./desktopimg/backgrounds/card4.png);
    justify-content: flex-end;
  }

  #procard4 {
    background-image: url(./desktopimg/backgrounds/card5.png);
    justify-content: flex-end;
  }

  #procard5 {
    background-image: url(./desktopimg/backgrounds/card6.png);
    justify-content: flex-end;
  }

  #prohead {
    display: block;
  }

  #propara {
    display: block;
  }

  #pro-list {
    display: flex;
  }

  #prohead1 {
    display: block;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    height: 81px;
    padding-top: 84px;
    padding-left: 16px;
    padding-right: 16px;
  }

  #prohead2 {
    display: block;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    height: 81px;
    padding-top: 84px;
    padding-left: 16px;
    padding-right: 16px;
  }

  #prohead3 {
    display: block;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    height: 81px;
    padding-top: 84px;
    padding-left: 16px;
    padding-right: 16px;
  }

  #prohead4 {
    display: block;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    height: 81px;
    padding-top: 84px;
    padding-left: 16px;
    padding-right: 16px;
  }

  #prohead5 {
    display: block;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    height: 81px;
    padding-top: 84px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .about {
    width: 100%;
    height: 100%;
    min-height: 1195px;
    min-width: 1195px;
  }

  .about1 {
    height: 100%;
    background-image: url(./desktopimg/backgrounds/background2.png);
    min-height: 582px;
    background-position: right;
  }

  .about2 {
    margin-left: 9.86%;
    width: 39.305%;
    height: 97.4771%;
  }

  .abouthead {
    padding-top: 22.336%;
    margin-left: 0;
    margin-right: 0;
    text-align: start;
    height: 13.402%;
    width: 100%;
  }

  .aboutpara1 {
    display: flex;
    gap: 24px;
    margin: 4.123% 0 0 0;
    height: 148px;
    width: 100%;
    font-size: 20px;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  .aboutpara {
    display: none;
  }

  .aboutbutton {
    margin: 4.123% 0 0 0;
    height: 8.247%;
    width: 28.44%;
    justify-content: center;
  }

  .line {
    margin-top: 13%;
    margin-left: 9.86%;
    margin-right: 9.86%;
  }

  .aboutsocial {
    height: 50.54%;
    margin: 0;
    width: 100%;
  }

  .skills {
    margin: 0 9.791% 0 9.791%;
    width: 80.418%;
    flex-direction: row;
    height: 100%;
  }

  .skillscontainer {
    margin: 10.87% 0 10.87% 0;
    width: 24.39%;
  }

  #skillscontainer2 {
    margin-right: 13.137%;
    margin-left: 13.137%;
  }

  #skills-head {
    text-align: start;
    justify-content: flex-start;
  }

  #skills-head1 {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  #skills-head3 {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .skills-head {
    text-align: start;
  }

  .skills-items {
    text-align: start;
  }

  .contact {
    width: 100%;
    height: 100vh;
    min-width: 1195px;
  }

  .contact-grid {
    padding: 0;
    display: flex;
    height: 100%;
    width: 100%;
  }

  .contactpara {
    width: 31.598%;
    height: 41.898vh;
    margin-top: 21.244vh;
    margin-bottom: 35.623vh;
    margin-left: 9.375%;
    font-size: 43px;
    line-height: 52px;
    text-align: start;
  }

  .form {
    width: 47.5%;
    height: 54.009vh;
    margin-top: 21.244vh;
    margin-bottom: 25.197vh;
    margin-left: 1.666%;
    margin-right: 9.861%;
  }

  .submit {
    margin: 0;
  }

  .footer {
    height: 8.78%;
    padding: 0;
  }

  .blank4 {
    display: none;
  }
}
